<div class="tbsh-spell-entry">
    <div>
        <span class="tbsh-magic-name" title="{{name}}">
        {{name}}</span></div>
    
    <div>
        {{magicType data.kind }}
    </div>
    

    <div>
       
            <a class="tbsh-action-link tbsh-cast-magic-icon" data-id="{{_id}}"  title="{{localize "TBSH.fields.titles.castSpell"}}">
                <i class="fas fa-hand-sparkles"></i>
            </a>
            <a class="tbsh-action-link tbsh-delete-item-icon" data-id="{{_id}}" title="{{localize "TBSH.fields.titles.deleteSpell"}}">
                <i class="far fa-trash-alt"></i>
            </a>
       
       
    </div>
</div>