<div class="tbsh-toggle-collapse-widget" data-state="expanded" data-key="{{.}}">
    <i class="fas fa-caret-up tbsh-toggle-collapse-icon tbsh-collapse-icon"></i>
    <i class="fas fa-caret-down tbsh-toggle-collapse-icon tbsh-expand-icon tbsh-hidden"></i>
</div>
