<section class="tbsh-cs-attributes-section">
    <div class="tbsh-cs-portrait">
        <center>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="96" width="96"/>
        </center>
    </div>

    <div class="tbsh-attribute-container">
        <div class="tbsh-attribute-header-container">
            <center>
                <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.strength.short"}}</span>
                <span class="tbsh-action-link rollable" href="#" data-rollAtt="strength" title="{{localize "TBSH.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 tbsh-roll-attribute-test-icon" data-attribute="strength" data-id="{{actor.id}}" ></i>
                </span>
            </center>
        </div>
        <div class="tbsh-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.strength" value="{{data.attributes.strength}}" />
        </div>
    </div>

    <div class="tbsh-attribute-container">
        <div class="tbsh-attribute-header-container">
            <center>
                <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.dexterity.short"}}</span>
                <span class="tbsh-action-link rollable" href="#" data-rollAtt="dexterity" title="{{localize "TBSH.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 tbsh-roll-attribute-test-icon" data-attribute="dexterity" data-id="{{actor.id}}" ></i>
                </span>
            </center>
        </div>
        <div class="tbsh-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.dexterity" value="{{data.attributes.dexterity}}" />
        </div>
    </div>

    <div class="tbsh-attribute-container">
        <div class="tbsh-attribute-header-container">
            <center>
                <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.constitution.short"}}</span>
                <span class="tbsh-action-link rollable" href="#" data-rollAtt="constitution" title="{{localize "TBSH.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 tbsh-roll-attribute-test-icon" data-attribute="constitution" data-id="{{actor.id}}" ></i>
                </span>
            </center>
        </div>
        <div class="tbsh-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.constitution" value="{{data.attributes.constitution}}" />
        </div>
    </div>

    <div class="tbsh-attribute-container">
        <div class="tbsh-attribute-header-container">
            <center>
                <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.intelligence.short"}}</span>
                <span class="tbsh-action-link rollable" href="#" data-rollAtt="intelligence" title="{{localize "TBSH.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 tbsh-roll-attribute-test-icon" data-attribute="intelligence" data-id="{{actor.id}}" ></i>
                </span>
            </center>
        </div>
        <div class="tbsh-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.intelligence" value="{{data.attributes.intelligence}}" />
        </div>
    </div>

    <div class="tbsh-attribute-container">
        <div class="tbsh-attribute-header-container">
            <center>
                <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.wisdom.short"}}</span>
                <span class="tbsh-action-link rollable" href="#" data-rollAtt="wisdom" title="{{localize "TBSH.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 tbsh-roll-attribute-test-icon" data-attribute="wisdom" data-id="{{actor.id}}" ></i>
                </span>
            </center>
        </div>
        <div class="tbsh-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.wisdom" value="{{data.attributes.wisdom}}" />
        </div>
    </div>

    <div class="tbsh-attribute-container">
        <div class="tbsh-attribute-header-container">
            <center>
                <span class="tbsh-attribute-header">{{localize "TBSH.fields.labels.attributes.charisma.short"}}</span>
                <span class="tbsh-action-link rollable" href="#" data-rollAtt="charisma" title="{{localize "TBSH.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 tbsh-roll-attribute-test-icon" data-attribute="charisma" data-id="{{actor.id}}" ></i>
                </span>
            </center>
        </div>
        <div class="tbsh-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.charisma" value="{{data.attributes.charisma}}" />
        </div>
    </div>
</section>
