<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>

  <div>
      <field class="tbsh-Field">
          <label for="data.quantity" class="tbsh-label">{{localize "TBSH.fields.labels.quantity"}}</label>
          <input type="number" name="data.quantity" value="{{data.quantity}}" />
      </field>

      <field class="tbsh-field">
          <label for="data.usageDie.maximum" class="tbsh-label">{{localize "TBSH.fields.labels.usageDie"}}</label>
          <select name="data.usageDie.maximum" class="tbsh-input tbsh-select">
      {{#select data.usageDie.maximum}}
        {{#each config.usageDieTypes as |label value|}}
              <option value="{{value}}">{{localize label}}</option>
        {{/each}}
      {{/select}}
          </select>
      </field>



      <field class="tbsh-field">
          <label for="data.description" class="tbsh-label">{{localize "TBSH.fields.labels.description"}}</label>
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </field>
  </div>
</form>
